.carousel {
  position: relative;
  width: 100%;
  height: 90vh;

  .item-wrapper {
    width: 100%;
    height: 90vh;
    opacity: 0;
    position: absolute;
    color: #fff;
    display: grid;
    place-content: center;
    justify-items: center;
    font-family: $font-family-2;
    font-size: $font-6;
    transition: opacity 2s;

    .bg-img-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;

      .bg-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(30%) contrast(70%);
      }
    }

    .carousel-title {
      text-transform: uppercase;
      letter-spacing: 10px;
      font-size: 4.4rem;
      width: 60%;
      justify-self: center;
      line-height: 1.2;
      font-weight: 700;
      text-align: center;
      margin-bottom: 4rem;
      min-width: min-content;

      span {
        color: $color-gold-1;
      }
    }
  }
  .show {
    opacity: 1;
  }

  &-text {
    text-align: center;
  }
}
