/*********************
    FONTS SIZES
*********************/
$font-1: 0.8rem;
$font-2: 1.2rem;
$font-3: 1.4rem;
$font-4: 1.6rem;
$font-5: 1.8rem;
$font-6: 2rem;
$font-7: 2.4rem;
$font-8: 3rem;
$font-9: 3.6rem;
$font-10: 4.8rem;
$font-11: 6rem;
$font-12: 7.2rem;

/*******************
    FONT FAMILY
********************/
$font-family-1: 'Montserrat', sans-serif;
$font-family-2: 'Lora', serif;

$color-gold-1: #ffd615;
$color-gold-2: #e4c53a;

$color-black: #333;
$color-grey: #777;
$color-grey-1: #ccc;
