.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: #fff;
  box-shadow: 0 2px 10px #ccc;
  font-weight: 400;
  letter-spacing: 3px;
  color: $color-black;

  .logo-container {
    width: 4rem;
    height: 6rem;
  }

  .logo {
    height: 100%;
  }

  .nav-list {
    width: 70%;
    max-width: calc(100% - 7rem);
    display: flex;
    justify-content: space-between;
  }
  a {
    cursor: pointer;
    font-size: 16px;
    position: relative;
  }
  a::after {
    content: '';
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 0%;
    border-radius: 1rem;
    transition: all 0.3s;
    background-color: $color-gold-1;
  }
  .active {
    color: $color-gold-2;
  }
  .active::after {
    width: 100%;
  }
}
